{% extends './base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <small>صفحه</small> پروفایل 
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-user"></i>پروفایل کاربری 
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i><strong>Like SB Admin?</strong> Try out <a href="#" class="alert-link">SB Admin 2</a> for additional features!
                    </div>
                </div>
            </div>
            <!-- /.row -->








<div class="col-md-12">
  <div class="card text-center">
    <div class="card-header">
      <h3 class="card-title">تغییر گذرواژه</h3>
    </div>
		<div class="card-body">
			<form method="POST">{% csrf_token %}
		    <div class="row">
		      <div class="col-6">
		        {{ form.old_password|as_crispy_field }}
		      </div>
		      <div class="col-6"></div>
		      <div class="col-6">
		        {{ form.new_password1|as_crispy_field }}
		      </div>
		      <div class="col-6">
		        {{ form.new_password2|as_crispy_field }}
		      </div>
		    </div>
				<button class="btn btn-danger">تغییر گذرواژه</button>
			</form>
		</div>
</div>















        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->




{% endblock %}