        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'accounts:indexAcc' %}">وب اپلیکیشن 1</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-left top-nav">
                <li>
                    <a href="{% url 'accounts:logout' %}" class="label label-danger">خروج <i class="fa fa-power-off"></i></a>
                </li>
                <li>
                    <a href="{% url 'blog:Home' %}" class="label label-success">سایت <i class="fa fa-home"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle label-warning" data-toggle="dropdown"><i class="fa fa-user"></i> {{ user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'accounts:profile' %}"><i class="fa fa-fw fa-user"></i> پروفایل</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:password_change' %}"><i class="fa fa-fw fa-lock"></i> تغییر گذرواژه</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i>ارسال مدارک</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'accounts:logout' %}" class="badge label-danger"><i class="fa fa-fw fa-power-off"></i>خروج</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{% url 'accounts:indexAcc' %}"><i class="fa fa-fw fa-dashboard"></i> داشبورد</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:profile' %}"><i class="fa fa-fw fa-user"></i> حساب کاربری</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-git"></i> ‌وبلاگ <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">لیست بلاگ</a>
                            </li>
                            <li>
                                <a href="{% url 'accounts:add-blog' %}">افزودن بلاگ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>