{% extends './base.html' %}
{% load static %}
{% block content %}

<div class="container">
<div class="row">

  {% for objects in blog %}
  <div class="col-3">
    <div class="card">
      <img class="card-img-top" src="{{ objects.image.url }}" alt="{{ objects.title}}">
      <h3 class="card-title">{{ objects.title }}</h3>
      <div class="card-body">
        <span class="bg-warning">{{ objects.author }}</span>
        <p class="card-text">{{ objects.body }}</p>
        <span class="bg-info">{{ objects.status }}</span>
        <a href="#" class="btn btn-primary">View</a>
      </div>
      <span class="card-footer bg-secondary">{{ objects.updated }}</span>
    </div>
  </div>
  {% endfor %}

</div>






{% endblock %}